<!-- <quill-editor></quill-editor> -->

<div style="width: 50%">
  <quill-editor
    #inputVal
    customToolbarPosition="bottom"
    placeholder="Type your message here ..."
    [modules]="modules"
    [(ngModel)]="htmlText"
    class="w-full h-24"
    (onContentChanged)="onTypeInput($event)"
    (onSelectionChanged)="onSection($event)"
  >
    <div quill-editor-toolbar>
      <div class="" >
        <div  style="position: relative;">
          <button type="button" class="" (click)=" openEmojiDialog()">
            😁

          </button>
          @if(displayEmoji()){
            <emoji-mart [darkMode]="false" [style]="{ position: 'absolute', left: '20px' }" (emojiClick)="addEmoji($event)"></emoji-mart>
          }
        </div>
      </div>
    </div>
  </quill-editor>
</div>
